{% extends 'blog/base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    
    {% if sent %}
        <h1>Correo enviado exitosamente</h1>
        <p>
            "{{ post.title }}" fue enviado exitosamente a {{ form.cleaned_data.to }}. 
        </p>
    {% else %}
        <h1>Compartir "{{ post.title }}" por correo</h1>
        <form method="post">
            {{ form.as_p }}

            {# for field in form #}
                {# <div> #}
                    {#{ field.errors }#}
                    {#{ field.label_tag }#} {#{ field }#}
                {# </div> #}
            {# endfor #}


            {% csrf_token %}
            <input type="submit" value="Enviar correo">
        </form>
    {% endif %}

{% endblock %}

